# Data directories
data/

# Python cache
**/__pycache__/

# C++ build output
cpp/build/
cpp/lib/

# Context Generator
cpp/gen_context.sh
cpp/context.txt

# models directory
models/

# Binary files and executables
*.exe
*.dll
*.so
*.o
*.out
